<html lang="en">
  <head>
   {{>headerLinks}}
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    {{>header}}
    <h1>About Page</h1>
    {{>footer}}
  </body>
</html>